[defaults]
host_key_checking = True

# disable host_key_checking
# https://docs.ansible.com/ansible/latest/user_guide/connection_details.html#host-key-checking

# inventory=./inventory # path relative to the current dir
# inventory=inventory_file # use -i or env var ANSIBLE_INVENTORY to override
